{% extends 'base.html' %}

<!-- load crispy forms -->
{% load crispy_forms_tags %}

{% block title %}Apagar Cliente{% endblock title %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card p-4">
                <form method="post">{% csrf_token %}
                    <p>Você tem certeza que deseja apagar o cliente "{{ object.name }}"?</p>
                    {{ form }}
                    <input type="submit" value="Confirmar">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <!-- Jquery mask 1.14.16 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock scripts %}